
<!-- <apx-chart
      [series]="series"
      [chart]="chart"
      [dataLabels]="dataLabels"
      [colors]="colors"
      [plotOptions]="plotOptions"
      [dataLabels]="dataLabels"
      [legend]="legend"
      [grid]="grid"
      [xaxis]="xaxis"
      >
</apx-chart> -->

<apx-chart
      [series]="options.series"
      [chart]="options.chart"
      [dataLabels]="options.dataLabels"
      [colors]="options.colors"
      [plotOptions]="options.plotOptions"
      [legend]="options.legend"
      [grid]="options.grid"
      [xaxis]="options.xaxis"
></apx-chart>