.breadcrumb-list ul {
    display: inline-flex;
    flex-wrap: wrap;
    word-break: break-word;
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumb-list ul li a {
    text-decoration: none;
    color: #3d3b3b;
}

a:hover {
    transition: color .4s;
    color: #5fce9f !important;
}

.pexels-item {
    background-color: #f1efef;
}

.int-search-btn input {
    background: #f1efef;
    height: 40px;
    border: none;
}

.int-search-btn button {
    padding: 8px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background: #5fce9f;
    color: white;
    width: 80px;
}

.int-search-btn button:hover {
    background: #1a2e57
}

.search-results {
    height: 20rem;
    overflow: scroll;}

    .main-panel {
        height: 100%;
        overflow-y: scroll;
      }